.pricing-container{
    display:flex;
    justify-content: center;
   
    align-items: center;
    height: 100vh;
    gap: 2rem;
  }
.plan-button{ 
    padding: 10px;
    background: #f3cf65;
    border-radius: 10%;


}
.plan-title{
    font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
}
.pricing-plan{
    flex: 1;
      max-width: 400px;
      padding: 20px;
      background-color: #ddd5d5;
      border-radius: 5px;
      text-align: center
    }
   

    .plan-price {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 10px;
      }

.plan-features {
   list-style: none;
    padding: 0;
    margin: 0;
  }
@media(max-width:1000px){
    .pricing-container{
        flex-direction: column;
        height: 100%;
    }
    
}