ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
h1{color: rgb(182, 114, 31);}
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #c1e9e3;
}
.e1{ 
  
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
text-anchor: middle;
text-align: center;
}
e1{ text-decoration-skip: 6;
  text-decoration: #8abeb6;
}
button{
text-align: end;
  color: #cc97e2;
}