
*{  color: rgb(68, 216, 201);
    font-size: 50px;
}
.container{
    display: flex;
    gap: 70px;
    background: #b9d4e8;

  flex-wrap: wrap;
  justify-content: center;

}
.a{
    background: #aadbe1;
}
#hello{
    flex-grow: 0;
    flex-shrink: 1;
}