*{ font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #e2bcf3;
}
h2{
    text-align: center;
    text-decoration: none;
}
h1{
    text-align: center;
}