*{
    margin: 0px;
    padding: 0px;
    text-align: center;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 0.5;
    cursor: grab;
}
    h1{
    background: #e1b6b6;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}


.score{
    font-size: 3rem;
}
.msg{ 

    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;

    
}
.msg-container{ 
    border-radius: 10%;
    margin-top: 5rem;
    background:"white";
    width: 20rem;
    height: 5rem;
    margin-left: 42.5%;
    font-size: 2rem;

}