*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: rgb(190, 170, 221);
    text-align: center;
    display: flex;
    justify-content: center;
}
.container{
    height: 20vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{background: #cfcec7;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4vmin;
}
.box{background: #eddada;
    height: 18vmin;
    width: 18vmin;
    border-radius: 23%;
    border-color: rgb(0, 0, 0);
    box-shadow: inset;
    font-size: 8vmin;
    text-align: center;
    
    
   
}
.reset-btn{
    padding: 0.7rem;
    font-size: 1.25rem;
    margin-top: 20PX;
    border-radius: 1rem;
    border: none;
    background: #aca8a8;
    

}
.msg-conatiner{
    display: flexbox;
    justify-content: centers;

}
.hide{
    display: none;
}
#msg {
    color: #ffffc7;
    font-size: 5vmin;
  }